html {
  height: 100%; }

body {
  width: 100%;
  min-width: 1025px;
  background-color: #ffffff;
  margin: 0 auto;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 155%;
  font-style: normal;
  color: #242424;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.no-scroll {
  overflow-y: hidden; }

@media (max-width: 1024px) {
  body {
    min-width: 768px;
    font-size: 16px; } }

@media (max-width: 767px) {
  body {
    min-width: 320px;
    font-size: 14px; } }

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: "Fontawesome";
  font-weight: normal;
  src: url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff");
  font-display: swap; }

.button {
  text-align: center;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #dde3ed;
  border-radius: 24px;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none; }
  .button:hover {
    border: 1px solid #2866ae;
    background-color: #2866ae;
    color: #ffffff; }

.typed-cursor {
  color: #2866ae; }

.side-menu {
  min-width: 260px;
  max-width: 260px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; }
  .side-menu__list, .side-menu__sublist {
    list-style: none;
    margin: 0;
    padding: 0; }
  .side-menu__list {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border: 1px solid #dde3ed;
    border-radius: 10px;
    padding: 0 20px; }
    .side-menu__list--hide {
      display: none; }
  .side-menu__sublist {
    display: none;
    padding: 0 0 0 16px; }
  .side-menu__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 16px 0;
    border-bottom: 1px solid #dde3ed; }
    .side-menu__item input:checked ~ .side-menu__sublist {
      display: block; }
    .side-menu__item input:checked ~ .side-menu__item-title::after {
      content: "\f106"; }
    .side-menu__item:last-child {
      border: none; }
    .side-menu__item a:hover,
    .side-menu__item span:hover {
      color: #2866ae;
      text-decoration: none; }
  .side-menu__subitem {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 16px 0 0; }
  .side-menu__item-title {
    cursor: pointer;
    text-decoration: none;
    color: #242424;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .side-menu__item-title::after {
      display: block;
      content: "\f105";
      font-family: "Fontawesome";
      font-size: 1.3em;
      margin: 0 0 0 8px; }
  .side-menu__button {
    display: none; }

@media (max-width: 1024px) {
  .side-menu {
    min-width: 220px;
    max-width: 220px; }
    .side-menu__list {
      padding: 0 12px; }
    .side-menu__item-title {
      font-size: 0.88em; } }

@media (max-width: 767px) {
  .side-menu {
    max-width: unset;
    margin-bottom: 32px; }
    .side-menu__button {
      display: block;
      padding: 12px;
      width: 280px;
      margin-bottom: 16px; } }

.page-main {
  width: 100%;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
  .page-main__wrapper {
    width: 100%;
    max-width: 1180px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 60px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

@media (max-width: 1024px) {
  .page-main__wrapper {
    max-width: 1024px;
    margin: 40px auto; } }

@media (max-width: 767px) {
  .page-main__wrapper {
    max-width: 767px;
    margin: 20px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.content {
  width: 100%;
  max-width: 870px;
  margin: 0 0 0 48px; }
  .content h1 {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 155%;
    margin: 0; }
  .content h3 {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 1.33em;
    line-height: 155%;
    margin: 0; }
  .content > p {
    margin: 32px 0 0; }
  .content__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 40px 0 0;
    border-bottom: 1px solid #dde3ed; }
    .content__list--service {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border-bottom: none; }
      .content__list--service .content__item {
        display: block;
        text-align: center;
        width: 49%;
        margin: 0; }
        .content__list--service .content__item a {
          text-decoration: none;
          color: #242424; }
          .content__list--service .content__item a:hover {
            color: #2866ae; }
        .content__list--service .content__item img {
          width: 100%;
          height: auto; }
        .content__list--service .content__item h2 {
          font-weight: 700;
          font-size: 1.55em;
          line-height: 155%;
          margin: 0;
          margin: 16px 0 0; }
    .content__list--repair .content__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 0 0 60px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .content__list--repair .content__item img {
        width: 100%;
        min-width: 200px;
        max-width: 339px;
        height: auto; }
      .content__list--repair .content__item:nth-child(2n) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; }
        .content__list--repair .content__item:nth-child(2n) .content__item-description {
          margin: 0 24px 0 0; }
          .content__list--repair .content__item:nth-child(2n) .content__item-description h2 {
            font-family: "Roboto", "Arial", sans-serif;
            font-weight: 700;
            font-size: 2em;
            line-height: 155%;
            margin: 0; }
    .content__list--repair .content__item-description {
      padding: 0;
      background-color: unset;
      min-width: 400px;
      width: 100%;
      max-width: 500px;
      margin: 0 0 0 24px; }
      .content__list--repair .content__item-description h2 {
        font-family: "Roboto", "Arial", sans-serif;
        font-weight: 700;
        font-size: 2em;
        line-height: 155%;
        margin: 0; }
  .content__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 32px; }
    .content__item img {
      width: 180px;
      height: 195px; }
  .content__item-description {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 20px 20px 40px;
    background-color: #efefef; }
    .content__item-description h2 {
      font-size: 1.2em;
      margin: 0; }
    .content__item-description p {
      margin: 16px 0 0; }
  .content__form {
    margin: 48px 0; }

@media (max-width: 1024px) {
  .content {
    margin: 0 0 0 32px; }
    .content > p {
      margin: 24px 0 0; }
    .content__list {
      margin: 32px 0 0; }
      .content__list--service {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .content__list--service .content__item {
          width: 100%;
          max-width: 579px;
          margin: 0 auto 32px; }
          .content__list--service .content__item h2 {
            font-weight: 700;
            font-size: 1.55em;
            line-height: 155%;
            margin: 0;
            margin: 8px 0 0; }
      .content__list--repair .content__item {
        margin: 0 0 40px; }
        .content__list--repair .content__item img {
          min-width: 130px; }
      .content__list--repair .content__item-description {
        padding: 0;
        background-color: unset;
        min-width: 280px;
        width: 100%;
        max-width: 500px;
        margin: 0 0 0 24px; }
        .content__list--repair .content__item-description h2 {
          font-family: "Roboto", "Arial", sans-serif;
          font-weight: 700;
          font-size: 2em;
          line-height: 155%;
          margin: 0; }
    .content__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 0 24px; }
    .content__item-description {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 20px;
      background-color: #efefef; }
      .content__item-description h2 {
        font-size: 1em;
        margin: 0; }
      .content__item-description p {
        margin: 8px 0 0;
        font-size: 0.88em; }
    .content__form {
      margin: 32px 0; } }

@media (max-width: 767px) {
  .content {
    margin: 0; }
    .content__list {
      margin: 32px 0 0; }
      .content__list--service {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .content__list--service .content__item {
          margin: 0 auto 24px; }
          .content__list--service .content__item img {
            display: block; }
      .content__list--repair .content__item {
        margin: 0 0 32px; }
        .content__list--repair .content__item:nth-child(2n) {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; }
          .content__list--repair .content__item:nth-child(2n) .content__item-description {
            margin: 0 0 0 24px; }
      .content__list--repair .content__item-description {
        max-width: 100%; }
    .content__item img {
      display: none; }
    .content__form {
      margin: 24px 0; } }

.content__schedule-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.content__schedule-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 42%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  background-color: #2866ae;
  color: #ffffff;
  margin: 0 0 32px; }
  .content__schedule-item:nth-child(2n) {
    margin: 0 0 32px 32px; }
  .content__schedule-item:hover {
    background-color: #809db9; }

.content__schedule-item-date {
  font-weight: 700;
  font-size: 1.55em;
  line-height: 155%;
  margin: 0;
  width: 100px;
  text-align: center;
  border-bottom: 1px solid #ffffff; }

.content__schedule-item-time {
  font-weight: 600;
  padding: 0 0 0 16px;
  border-bottom: 1px solid #ffffff; }

.content__schedule-item-title {
  padding: 0 0 0 16px; }

.content__schedule-item-button {
  width: 200px;
  margin: 48px 0 0 auto;
  padding: 14px;
  border-radius: 8px;
  color: #2866ae;
  text-decoration: none;
  border: unset; }
  .content__schedule-item-button:hover {
    color: #2866ae;
    background-color: #ffffff;
    border: unset; }

@media (max-width: 1024px) {
  .content__schedule-list {
    margin: 32px 0 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .content__schedule-item {
    width: 47%;
    margin: 0 0 24px; }
    .content__schedule-item:nth-child(2n) {
      margin: 0 0 24px 24px; }
  .content__schedule-item-time {
    padding: 0; }
  .content__schedule-item-title {
    padding: 0; }
  .content__schedule-item-button {
    width: 100%;
    margin: 32px 0 0;
    padding: 14px;
    border-radius: 8px;
    color: #2866ae;
    text-decoration: none;
    border: unset; }
    .content__schedule-item-button:hover {
      color: #2866ae;
      background-color: #ffffff;
      border: unset; } }

@media (max-width: 767px) {
  .content__schedule-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 32px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .content__schedule-item {
    width: 100%;
    margin: 0 0 24px; }
    .content__schedule-item:nth-child(2n) {
      margin: 0 0 24px; }
  .content__schedule-item-date {
    text-align: left; }
  .content__schedule-item-time {
    padding: 0; }
  .content__schedule-item-title {
    padding: 0; }
  .content__schedule-item-button {
    width: 200px;
    margin: 32px 0 0 auto; } }

.content__tabs {
  margin: 48px 0; }

.content__tab {
  display: none; }

.content__tab + label {
  border-bottom: 2px solid #dde3ed;
  width: 45%;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 8px;
  margin: 0 12px 0 0; }

.content__tab:checked + label {
  color: #2866ae;
  border-bottom: 2px solid #2866ae;
  position: relative; }
  .content__tab:checked + label::after {
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #2866ae; }

.content__tab-description {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 48px 0 0 0; }
  .content__tab-description > h3 {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 1.33em;
    line-height: 155%;
    margin: 0; }

.content__tab--kontaktor:checked ~ .content__tab-description--kontaktor,
.content__tab--client:checked ~ .content__tab-description--client {
  display: block; }

@media (max-width: 767px) {
  .content {
    margin: 32px 0; }
    .content__tab + label {
      text-align: center; } }

.content__info-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.content__info-item {
  text-align: center;
  width: 30%; }
  .content__info-item img {
    width: 164px;
    height: 164px; }
  .content__info-item p {
    margin: 16px 0 0;
    font-size: 0.78em; }
  .content__info-item:not(:last-child) {
    position: relative; }
    .content__info-item:not(:last-child)::after {
      position: absolute;
      top: 71px;
      right: -48px;
      display: block;
      content: "";
      width: 60px;
      height: 22px;
      background-image: url("../img/info-arrow.svg"); }

.content__info-button {
  padding: 14px;
  width: 260px;
  margin: 40px auto 0;
  background-color: #2866ae;
  border: 1px solid #2866ae;
  color: #ffffff; }
  .content__info-button:hover {
    background-color: #ffffff;
    border: 1px solid #dde3ed;
    color: #2866ae; }

@media (max-width: 1024px) {
  .content__info-item img {
    width: 124px;
    height: 124px; }
  .content__info-item:not(:last-child)::after {
    top: 54px;
    right: -33px;
    width: 40px;
    height: 18px;
    background-size: cover; } }

@media (max-width: 767px) {
  .content__info-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .content__info-item {
    text-align: center;
    width: 100%;
    margin: 0 auto 64px; }
    .content__info-item img {
      width: 164px;
      height: 164px; }
    .content__info-item p {
      margin: 12px 0 0;
      font-size: 1em; }
    .content__info-item:not(:last-child) {
      position: relative; }
      .content__info-item:not(:last-child)::after {
        position: absolute;
        top: unset;
        bottom: -36px;
        right: calc(50% - 32px);
        display: block;
        content: "";
        width: 60px;
        height: 22px;
        background-image: url("../img/info-arrow.svg");
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); } }

.content__table {
  margin: 40px 0 0; }

.content__table-string {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .content__table-string--title .content__table-item {
    color: #2866ae;
    padding: 5px 15px 20px;
    border-right: 1px solid #2866ae;
    border-bottom: 1px solid #2866ae;
    text-align: center; }
    .content__table-string--title .content__table-item:last-child {
      border-right: none; }

.content__table-data {
  list-style: none;
  margin: 0;
  padding: 0; }

.content__table-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 0;
  text-align: center; }
  .content__table-item--series {
    width: 28%;
    text-align: left;
    padding: 16px 0 16px 20px; }
  .content__table-item--time {
    width: 25%; }
  .content__table-item--warranty {
    width: 25%; }
  .content__table-item--link {
    width: 22%; }

.content__table-data-item {
  width: 100%; }
  .content__table-data-item:nth-child(odd) {
    background-color: #efefef; }

.content__table-item-button {
  width: 50%;
  font-size: 0.7em;
  color: #2866ae;
  border: 1px solid #2866ae;
  border-radius: 10px; }

@media (max-width: 1024px) {
  .content__table-string--title .content__table-item {
    padding: 5px 10px 15px; }
  .content__table-item {
    word-wrap: break-word; } }

@media (max-width: 767px) {
  .content__table {
    font-size: 0.85em; }
  .content__table-string--title .content__table-item {
    padding: 5px 2px 10px; }
  .content__table-item {
    padding: 12px 0; }
    .content__table-item--series {
      width: 28%;
      padding: 12px 0; }
    .content__table-item--time {
      width: 25%; }
    .content__table-item--warranty {
      width: 25%; }
    .content__table-item--link {
      width: 22%; }
  .content__table-item-button {
    width: 100%;
    font-size: 1em; } }

.content__support {
  margin: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.content__support-description {
  min-width: 60%;
  margin: 0 20px 0 0; }
  .content__support-description h3,
  .content__support-description p {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 1.33em;
    line-height: 155%;
    margin: 0; }
  .content__support-description p {
    font-weight: normal; }
  .content__support-description h3 {
    font-weight: 700;
    margin: 0 0 48px; }

.content__support-img {
  width: 100%;
  max-width: 339px; }
  .content__support-img img {
    width: 100%;
    height: auto; }

.content__support-advantages {
  font-weight: 700;
  color: #2866ae; }

.content__support-button {
  width: 260px;
  border-color: #2866ae;
  color: #ffffff;
  background-color: #2866ae;
  margin: 60px 0 0;
  padding: 18px;
  border-radius: 28px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700; }
  .content__support-button:hover {
    border-color: #dde3ed;
    color: #2866ae;
    background-color: #ffffff; }

@media (max-width: 1024px) {
  .content__support {
    margin: 32px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .content__support-description {
    margin: 0 10px 0 0; }
  .content__support-img {
    width: 100%;
    max-width: 339px; }
    .content__support-img img {
      width: 100%;
      height: auto; }
  .content__support-advantages {
    font-weight: 700;
    color: #2866ae; }
  .content__support-button {
    width: 260px;
    border-color: #2866ae;
    color: #ffffff;
    background-color: #2866ae;
    margin: 60px 0 0;
    padding: 14px;
    border-radius: 28px; }
    .content__support-button:hover {
      border-color: #dde3ed;
      color: #2866ae;
      background-color: #ffffff; } }

@media (max-width: 767px) {
  .content__support-img {
    display: none; }
  .content__support-button {
    width: 100%; } }

.content__form {
  position: relative;
  width: 720px;
  background-color: #ffffff; }

.content__form-overlay {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 37, 41, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto; }
  .content__form-overlay--hide {
    display: none; }

.content__form-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../img/close-icon.svg");
  background-size: cover;
  border: none; }

@media (max-width: 1024px) {
  .content__info-item img {
    width: 124px;
    height: 124px; }
  .content__info-item:not(:last-child)::after {
    top: 54px;
    right: -33px;
    width: 40px;
    height: 18px;
    background-size: cover; } }

@media (max-width: 767px) {
  .content__info-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .content__info-item {
    text-align: center;
    width: 100%;
    margin: 0 auto 64px; }
    .content__info-item img {
      width: 164px;
      height: 164px; }
    .content__info-item p {
      margin: 12px 0 0;
      font-size: 1em; }
    .content__info-item:not(:last-child) {
      position: relative; }
      .content__info-item:not(:last-child)::after {
        position: absolute;
        top: unset;
        bottom: -36px;
        right: calc(50% - 32px);
        display: block;
        content: "";
        width: 60px;
        height: 22px;
        background-image: url("../img/info-arrow.svg");
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); } }

/*# sourceMappingURL=style.css.map */
